RewriteEngine On

# Map URL ảo → file thật


RewriteRule ^dang_nhap$ login.php [L]

RewriteRule ^dang_xuat$ pages/logout.php [L]

RewriteRule ^trang_chu$ pages/dashboard.php [L]

RewriteRule ^users$ pages/users.php [L]

RewriteRule ^products$ pages/products.php [L]

RewriteRule ^orders$ pages/oders.php [L]
# order_detail
RewriteRule ^order_detail/([^/]+)$ /pages/order_detail.php?id=$1 [L,QSA]
RewriteRule ^order_detail$ /pages/order_detail.php [L,QSA]
RewriteRule ^product_detail/([^/]+)$ /pages/product_detail.php?id=$1 [L,QSA]
# update_order
RewriteRule ^ajax/update_order/([^/]+)$ ajax/update_order.php?id=$1 [L,QSA]
RewriteRule ^ajax/update_order$ ajax/update_order.php [L,QSA]
#orders_trash
RewriteRule ^orders_trash$ pages/orders_trash.php [L]
RewriteRule ^orders_trash/([^/]+)$ pages/orders_trash.php?id=$1 [L,QSA]
# ajax/update_variant.php
RewriteRule ^ajax/update_variant/([^/]+)$ ajax/update_variant.php?id=$1 [L,QSA]
RewriteRule ^ajax/update_variant$ ajax/update_variant.php [L,QSA]
# add_product_images
RewriteRule ^ajax/add_product_images/([^/]+)$ ajax/add_product_images.php?id=$1 [L,QSA]
RewriteRule ^ajax/add_product_images$ ajax/add_product_images.php [L,QSA]
# add product 
RewriteRule ^ajax/add_product$ ajax/add_product.php [L,QSA]
# add variant 
RewriteRule ^ajax/add_variant/([^/]+)$ ajax/add_variant.php?id=$1 [L,QSA]
# add variant
RewriteRule ^ajax/add_variant$ ajax/add_variant.php [L,QSA]
# delete variant
RewriteRule ^ajax/delete_variant/([^/]+)$ ajax/delete_variant.php?id=$1 [L,QSA]
# delete variant
RewriteRule ^ajax/delete_variant$ ajax/delete_variant.php [L,QSA]
# delete product
RewriteRule ^ajax/delete_product/([^/]+)$ ajax/delete_product.php?id=$1 [L,QSA]
RewriteRule ^ajax/delete_product$ ajax/delete_product.php [L,QSA]
#delete image 
RewriteRule ^ajax/delete_image/([^/]+)$ ajax/delete_image.php?id=$1 [L,QSA]
RewriteRule ^ajax/delete_image$ ajax/delete_image.php [L,QSA]
#delete_order
RewriteRule ^ajax/delete_order/([^/]+)$ ajax/delete_order.php?id=$1 [L,QSA]
RewriteRule ^ajax/delete_order$ ajax/delete_order.php [L,QSA]
# get variant 
RewriteRule ^ajax/get_variant/([^/]+)$ ajax/get_variant.php?id=$1 [L,QSA]
RewriteRule ^ajax/get_variant$ ajax/get_variant.php [L,QSA]
# update product 
RewriteRule ^ajax/update_product/([^/]+)$ ajax/update_product.php?id=$1 [L,QSA]
RewriteRule ^ajax/update_product$ ajax/update_product.php [L,QSA]
# oders
# setting
RewriteRule ^settings$ pages/settings.php [L]
# profile
# voucher
RewriteRule ^voucher$ pages/voucher.php [L]
RewriteRule ^profile$ pages/profile.php [L]
ErrorDocument 404 /404.php

# Nếu không match thì tự tìm file.php

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([a-zA-Z0-9_-]+)$ $1.php [L]
